.available-services-container{
    width: 80%;
    /* margin: auto; */
    margin: 40px auto ;
}
.services-title{
    font-weight: 600;
}
.services-desc{
    color: gray;
    font-size: 16px;
    width: 95%;
}
.services-learn-more-btn{
    border: none;
    color: #316c7e;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    padding-left: 0px;
}
.services-learn-more-btn:hover{
    font-size: 16px;
    color: #316c7e !important;
}
.available-services-heading{
    font-size: 50px;
    margin: 30px 0px;
    font-weight: 300;
}
.available-services-heading p{
    font-size: 18px;
    font-weight: 500;
    color: #316c7e;
    margin: 0px;
}
.services-dark-title{
    margin-left: 15px;
    font-weight: 600;
    color: #316c7e;
}
@media only screen and (max-width:1000px) {
    .available-services-container{
        width: 90%;
    }
   
}
@media only screen and (max-width:700px) {
    .available-services-heading{
        font-size: 35px;
    }
    .services-clmn{
        text-align: center;
    }
}
@media only screen and (max-width:400px) {
    .available-services-heading{
        font-size: 30px;
        width: 100%;
    }
   
}